<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leave your mark</title>
    <% include partials/head.ejs %>
</head>
<body>
    <div id="wrapper">
        <%include partials/sidebarMenu.ejs %>
    </div>
</body>
</html>
