.headingFont{
    font-family: Pacifico, cursive;
    font-size: 40px;
}

.brandFont{
    font-family: Pacifico, cursive;
    font-size: 25px;
}

.mainLines{
    font-size:30px;
}

.menus{
    font-size:18px;
}
